<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cloudinary.Core" version="1.31.0" targetFramework="monoandroid71" />
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="monoandroid71" />
  <package id="Glide.Xamarin" version="4.1.1" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="2.1.0.2" targetFramework="monoandroid71" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="monoandroid71" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid71" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid71" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid71" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid71" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid71" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid71" />
  <package id="Square.OkHttp" version="2.4.0.0" targetFramework="monoandroid71" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid71" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid71" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Common" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Storage" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Firebase.Storage.Common" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Base" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Location" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Maps" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Places" version="32.961.0" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="32.961.0" targetFramework="monoandroid71" />
</packages>